*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  background-color: #eded;
}
.fondo{
  position: absolute;
  width: 100vw;
  height: 100%;
  background-image: url('fondo.gif');
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay--fondo{
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background: linear-gradient(#003f0080, #00000080);
  backdrop-filter: blur(15px);
}

.circle {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px auto;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-top-color: rgb(69, 255, 152);
  transition: width 0.5s ease, height 0.5s ease;
  animation: girar 0.8s linear infinite;
  z-index: 3;
}

.cirlce__center {
  width: 36px;          
  height: 36px;
  background-color: transparent;
  border-radius: 50%;
  backdrop-filter: blur(4px);
  z-index: 4;            
}

.algo {
  position: relative;
  z-index: 3;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.wrapper{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.h1__fondo{
  font-size: 32px;
  text-align: center;
  z-index: 3;
  text-wrap: balance;
  margin: auto;
  color: #fff;
  margin-bottom: 0px;
  padding: 6px 12px;
  border-radius: 12px;
  transition: 2s ease;
}

h1{
  position: relative;
  font-family:"Roboto Mono", monospace;
  font-size: 32px;
  text-shadow: 0px 0px 12px (orange);
}


.forms{
  min-width:50%;
  min-height: 100px;
  border-radius: 12px;
  box-shadow: 0px 0px 25px #fff0;
  padding: 15px;
  z-index: 3;
  margin-top: 0px;
  font-size: 24px;
  margin: auto;
  text-align: center;
  text-wrap: pretty;
  margin-top: 20px;
  color: #fff;
}


button{
  min-width: 24px;
  min-height: 24px;
  font-size: 20px;
  outline: 1px solid rgb(52, 116, 141);
  border-radius: 8px;
  background-color: #277599;
  margin: auto;
  margin-top: 18px;
  color: #fff;
  padding: 10px 16px;
  font-family: 'Robot Mo  no',sans-serif;
  transition: outline-offset 0.4s ease, box-shadow 0.4s ease, outline-offset 0.4s ease,
              width 0.4s ease-out, height 0.4s ease, font-sie;
  letter-spacing: 3px;
}
@keyframes girar{
  from{
    transform: rotate(360deg);
  }to{
    transform: rotate(0deg);
  }
}

.circle:hover{
    height: 60px;
    width: 60px;
}


button:hover{
  box-shadow: 0px 0px 12px #02d61490;
  min-width: 220px;
  min-height: 50px;
}
